[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-knox = "*"
dj-rest-auth = "==1.1.0"
django-allauth = "~=0.42.0"
python-dotenv = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
